@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Harmattan&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1%;
    background-color: #313552;
}

.header,
.form {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    min-height: 25vh;
    width: 100%;
}

.heading {
    color: white;
    overflow: hidden;
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Goudy Bookletter 1911', serif;
    text-shadow: 3px 3px 6px rgb(37, 36, 36);
}

form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form textarea {
    padding: 5px;
    font-size: 17px;
    max-height: 100px;
    border: none;
    outline: none;
    resize: none;
    max-width: 500px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
    background-color: #4d476b;
    color: rgb(247, 226, 223);
}

form textarea:hover {
    cursor: text;
}


button {
    border: none;
    outline: none;
    background-color: #33338a;
    color: white;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #012735;
}

form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    height: 3.19rem;
}

.filter_tasks{
    padding: 5px;
    font-size: 17px;
    max-height: 100px;
    opacity: 70%;
    margin-left: 2%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: 500px;
    border: none;
    outline: none;
}


.tasks {
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 265px;
}



/*Customising the scroll bar*/

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 183, 183);
}


.todo-list {
    min-width: 25%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.todo {
    margin: 1rem;
    background-color: #4d476b;
    font-size: 19px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
}

.todo li {
    padding: 7px;
    font-size: 20px;
    flex: 1;
    border-radius: 30px;
    overflow-wrap: anywhere;
}


.checkBtn,
.deleteBtn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}



.completed {
    transition: 0.2s;
    text-decoration: line-through;
    text-decoration-color: rgb(214, 7, 7);
    opacity: 0.5;
}

.swal2-popup {
    height: 17rem !important;
    width: 15rem !important;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}